<h1>Patients <a href="/patients/new">(+)</a></h1>

<ul>
  <% @patients.each do |patient| %>
    <li>
      <a href="/patients/<%= patient.id%>">
        <%= patient.name %>
      </a>
    <li>
  <%end%>
</ul>
