* {
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: .5s ease;
}
a:hover {
  text-decoration: underline;
  color: cyan;
}
body{
  background-color: #fff7c4;
}
.plus_button{
  transition: 2s ease;
}
.plus_button:hover {
  transform: rotate(1200deg);
  /*I seem to remember you saying you hated CSS. I call shenanigans.*/
  text-decoration: none;
}
h1, h2{
  text-align: center;

}

.census {
  margin: 0 auto;
  width: 100%;
  position: relative;
  left: 200px;
}
.census2 {
  margin: 0 auto;
  position: relative;
  left: 250px;
}

.maincontainer{
  background-color: #fffeed;
  font-family: 'Raleway', sans-serif;
  width: 600px;
  position: relative;
  left: 550;
  margin: 0 auto;
  border: 5px solid black;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
